/* @override 
	http://localhost/~conchar/vo/public/stylesheets/main.css */

/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; margin: 0; padding: 0; border: 0; background: #FFFFFF;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
img { border: none; }
table, tr, td, tr { border-collapse: collapse; vertical-align: top; text-align: left;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
a { color: #8D0D19;}

#header { height: 70px; text-align: left;
	color: #f6edf8;
background-color: #774904;
}
#header h1 { padding: 1em; margin: 0;
	text-align: center;
}
#header h2 {
	text-align: center;
}

#page div.page-content h2 {
	text-align: center;
}

/* Note: IE 5 & 6 won't understand min-height */
#main { min-height: 600px; width: 100%;
	padding: 2em;
background-color: #bfb490;
}

#footer { height: 2em; padding: 1em; text-align: center;
	color: #D4E6F4;
	background-color: #774904;
}

table.bordered tr th, table.bordered tr td { border: 1px solid #000000; }

#pagination .selected { font-weight: bold; color: #8D0D19;}

/* Navigation */
#navigation { width: 150px;
	color: #D4E6F4;
	position: static;
	background-color: #3c5b2d;
	top: 1em;
	padding: 1em 2em;
	bottom: 10em;
}
#navigation a { color: #D4E6F4; text-decoration: none; }
ul.subjects { padding-left: 0; list-style: none; }
ul.pages { padding-left: 2em; list-style: square; }
.selected { font-weight: bold; }
