/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/



/* Note: IE 5 & 6 won't understand min-height */


table.bordered tr th, table.bordered tr td { border: 1px none #c43333;
	opacity: 1;
}

/* new */


/* Site Colors:
	#1A446C - blue grey
	#689DC1 - light blue
	#D4E6F4 - very light blue
	#EEE4B9 - light tan
	#8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body { width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif; background: #D4E6F4;
	font-size: 13px; line-height: 15px; }
img { border: none; }
table, tr, td, tr { border-collapse: collapse; vertical-align: top; font-size: 13px; line-height: 15px;}
a { color: #8D0D19;}

#header { height: 70px; margin: 0px; padding: 0px; text-align: left;
	color: #D4E6F4;
	 background-color: #589a67;
 }
#header h1 { padding: 1em; margin: 0px;}
#main { margin: 0px; padding: 0px; height: 600px; width: 100%; background: #EEE4B9; }
#structure { height: 600px; width: 100%; }
#footer { height: 2em;  padding: 1em; text-align: center;
	color: #D4E6F4;
	bottom: 10em;
	left: 0;
	top: 10em;
	background-color: #589a67;
}


/* Navigation */
#navigation { width: 150px;
	color: #D4E6F4;
	position: static;
	background-color: #996523;
	top: 1em;
	padding: 1em 2em;
	bottom: 10em;
}
#navigation a { color: #D4E6F4; text-decoration: none; }
ul.subjects { padding-left: 0; list-style: none; }
ul.pages { padding-left: 2em; list-style: square; }
.selected { font-weight: bold; }

/* Page Content */
#page { padding-left: 2em; vertical-align: top; background: #EEE4B9; }
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }

/*********************************************************************************************/


table.bordered tr th, table.bordered tr td { border: 1px none #c43333;
	opacity: 1;
}








