﻿/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#EAEDD8;
	color:#6C6C6C;

}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------main--------------------*/

/*------------------------------------------------header--------------------*/
#header{
	background:url(../images/header.gif) 0 0 no-repeat;
	width:942px;
	height:93px;
	margin:0 auto;
	padding:0 5px 0 34px;
}
#header ul.topLink{
	width:111px;
	height:16px;
	float:right;
}
#header ul.topLink li{
	float:left;
	font-size:0;
	line-height:0;
}
#header ul.topLink li a.subscribe{
	display:block;
	background:url(../images/subscribe_bg.gif) 0 0 no-repeat;
	width:60px;
	height:16px;
	margin:0 4px 0 0;
}
#header ul.topLink li a.subscribe:hover{
	background:url(../images/subscribe_bg_hover.gif) 0 0 no-repeat;
}
#header ul.topLink li a.signup{
	display:block;
	background:url(../images/signup_bg.gif) 0 0 no-repeat;
	width:47px;
	height:16px;
	margin:0;
}
#header ul.topLink li a.signup:hover{
	background:url(../images/signup_bg_hover.gif) 0 0 no-repeat;
}
#header img.logo{
	display:block;
	font-size:0;
	line-height:0;
	margin:21px 41px 0 0;
	float:left;
}
#header p.topTxt{
	display:block;
	font:normal 16px Arial, Helvetica, sans-serif;
	color:#808080;
	background-color:inherit;
	margin:36px 0 0 0;
	float:left;
}
#header p.topTxt span{
	font:normal 20px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#3399FF;
	padding:0 3px 0 3px;
}
/*------------------------------------------------header--------------------*/

/*------------------------------------------------body--------------------*/
#body{
	width:979px;
	margin:0 auto;
	background-color:#fff;
	color:#6C6C6C;
	border-radius: 5px;
}
#body p.navLeft{
	display:block;
	background:url(../images/nav_left.gif) 0 0 no-repeat;
	width:22px;
	height:34px;
	float:left;
}
#body ul.nav{
	width:935px;
	height:34px;
	background:url(../images/nav_bg.gif) 0 0 repeat-x;
	float:left;
	margin:0 0 6px 0;
}
#body ul.nav li{
	float:left;
	background:url(../images/nav_div.gif) right top no-repeat;
	height:34px;
	padding:0 2px 0 0;
}
#body ul.nav li a{
	display:block;
	padding:0 15px;
	font:bold 11px/34px Arial, Helvetica, sans-serif;
	color:#1B1B1B;
	background-color:inherit;
	text-decoration:none;
}
#body ul.nav li a:hover{
	color:#fff;
	background-color:#9D0303;
}
#body ul.nav li.noImg{
	background-image:none;
	
	display:block;
	padding:0px 15px;
	font:normal 11px/34px Arial, Helvetica, sans-serif;
	color:maroon;/*#9D0303;#1B1B1B;*/
	background-color:inherit;
	text-decoration:none;

}
#body p.navRight{
	display:block;
	background:url(../images/nav_right.gif) 0 0 no-repeat;
	width:22px;
	height:34px;
	float:left;
}
/*------------------------------------------------left--------------------*/
#left{
	width:625px;
	float:left;
	padding-top: 15px;
	padding-right: 26px;
	padding-bottom: 40px;
	padding-left: 33px;
	background-repeat: no-repeat;
	background-position: 304px 195px;
}
#left h2.welcome{/*Epikefalida Selidas*/
	display:block;
	font:normal 22px Arial, Helvetica, sans-serif;
	color:#000000;
	width:520px;
	height:28px;
	margin:0px 0px -10px 0px;	
}
#left h2.card{/*Epikefalida Selidas*/
	display:block;
	font:normal 18px Arial, Helvetica, sans-serif;
	color:#000000;
	width:520px;
	height:28px;
	margin:0px 0px -10px 0px;	
}
#left p.lftTxt{/*Aplo Keimeno Paragraphou*/
	display:block;
	font-size:12px;
	line-height:18px;
	color:#000000;
}
#left p.lftTxt span{
	color:#8DA909;
	font-weight:bold;
	background-color:inherit;
}
#left h2.le{/*Deyteres Epikefalides Kokkino*/
	display:block;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#9D0303;
	margin:0px 0 20px 0;
		
	
}
/*personal data*/
#lftTxtPersonalData{
	border-radius: 12px 12px 12px 12px;
	margin-right: auto;
	padding: 15px;
	margin-top: 30px;
	/*padding-left: 5px;*/	
	text-align: left;
	border-color: -moz-use-text-color black;
	border-bottom-color: aqua;
	text-shadow: 0px 0px 0px black;
	box-shadow: 1px 2px 2px 2px rgba(48,44,48,0.65);
	border-width: 5px;

}
#left p.lftTxt2{
	display:block;
	width:500px;
	font-size:12px;
	line-height:18px;
	color:#637704;
	background-color:inherit;
	font-weight:bold;
	margin:0 0 9px 0;
}
#left p.lftTxt3{
	display:block;
	width:262px;
	font-size:12px;
	line-height:18px;
	margin:0 0 5px 0;
}
#left p.lftTxt3 span{
	color:#9D0303;
	font-weight:bold;
	background-color:inherit;
	display:block;
}
#left a.rm{
	display:block;
	/*background:url(images/read_more.gif) 0 0 no-repeat;*/
	width:60px;
	height:15px;
	/*margin:0 0 5px 201px;*/
}
#left a.rm:hover{
	/*background:url(images/read_more_hover.gif) 0 0 no-repeat;*/
	
}
/*styling listas*/
#left ul{
	width:600px;
	float:left;
	}
#left ul li{
	font-size:0;
	line-height:0;
	
}
#left ul li a{
	display:block;
	padding:0 0 0 7px;
	background:url(../images/arrow.gif) 0 7px no-repeat;
	font:normal 12px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#0000FF;
	background-color:inherit;
	text-decoration:none;
	margin: 4px 0 0 0;
}
#service ul li a:hover{
	
	color:orange;
	
}

/*------------------------------------------------left--------------------*/

/*------------------------------------------------right--------------------*/
#right{
	width:230px;
	float:right;
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 0;
}
#right h3.rightBot{
	display:block;
	color:#141414;
	font:normal 17px/43px Verdana, Arial, Helvetica, sans-serif;
	background-color:inherit;
}
#right p.rightTxt{
	display:block;
	font-size:11px;
	line-height:18px;
	width:452px;
}
#right p.rightTxt a{
	color:#1E759A;
	background-color:inherit;
	font-weight:bold;
	text-decoration:underline;
}
#right p.rightTxt a:hover{
	text-decoration:none;
}
#service{
	width:237px;
	background:url(../images/latest_service_bg.gif) 0 0 repeat-x #94B10A;
	color:#fff;
	float:right;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 9px;
	margin-left: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border-radius: 5px;
}
#service h2 img.head{
	display:block;
	height:21px;
	margin:0 0 6px 0;
	padding:0px 0px 0px 21px;
}
#service h2{
	padding-left: 15px;
}
#service h3{
	font-size:12px;
	line-height:18px;
	margin:0 0 16px 0;
	display:block;
	padding:0 0 0 21px;
}
#service img.pic{
	display:block;
	font-size:0;
	line-height:0;
	float:left;
	padding:0 0 0 21px;
}
#service ul{
	width:122px;
	float:right;
}
#service ul li{
	font-size:0;
	line-height:0;
}
#service ul li a{
	display:block;
	padding:0 0 0 7px;
	background:url(../images/arrow.gif) 0 7px no-repeat;
	font:normal 11px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#service ul li a:hover{
	background-color:#8DA909;
	color:#fff;
}
#service ul li a.rm2{
	display:block;
	background:url(../images/read_more2.gif) 0 0 no-repeat;
	width:56px;
	height:17px;
	margin:17px 0 0 0;
}
#service ul li a.rm2:hover{
	background:url(../images/read_more2_hover.gif) 0 0 no-repeat;
}
#service p.serBot{
	display:block;
	background:url(../images/service_bottom.gif) 0 0 no-repeat;
	width:237px;
	height:16px;
	font-size:0;
	line-height:0;
	float:left;
}
#question{
	width:237px;
	background:url(../images/question_bg.gif) 0 0 repeat-x #DD9B0C;
	color:#fff;
	padding:15px 0 0 0;
	margin:0 0 9px 0;
	float:right;
	border-radius: 5px;
}
#question h2 img.head2{
	display:block;
	height:21px;
	margin:0 0 7px 0;
	padding:0 0 0 21px;
}
#question h2{
	padding-left: 15px;
}

#question h3{
	font-size:12px;
	line-height:18px;
	margin:0 0 16px 0;
	display:block;
	padding:0 0 0 21px;
}
#question img.pic2{
	display:block;
	font-size:0;
	line-height:0;
	float:left;
	padding:0 0 0 21px;
}
#question ul{
	width:122px;
	float:right;
}
#question ul li{
	font-size:0;
	line-height:0;
}
#question ul li a{
	display:block;
	padding:0 0 0 7px;
	background:url(../images/arrow.gif) 0 7px no-repeat;
	font:normal 11px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#question ul li a:hover{
	background-color:#D4950C;
	color:#fff;
}
#question ul li a.rm3{
	display:block;
	background:url(../images/read_more2.gif) 0 0 no-repeat;
	width:56px;
	height:17px;
	margin:17px 0 0 0;
}
#question ul li a.rm3:hover{
	background:url(../images/read_more3_hover.gif) 0 0 no-repeat;
}
#question p.questionBot{
	display:block;
	background:url(../images/question_bottom.gif) 0 0 no-repeat;
	width:237px;
	height:16px;
	font-size:0;
	line-height:0;
	float:left;
}
#mem2{
	width:237px;
	background:url(../images/member_login_bg.gif) 0 0 repeat-x #D2D7B4;
	color:#000;
	padding:0 0 39px 0;
	margin:0;
	float:left;
	border-radius: 5px;
}
#mem2 h2{
	display:block;
	height:40px;
	margin:0;
	padding:0;
	
	
}
#mem2 form{
	width:188px;
	padding:0 25px 0 24px;
}
#mem2 form label{
	display:block;
	font:normal 11px/22px Verdana, Arial, Helvetica, sans-serif;
	float:left;
}
#mem2 form input{
	width:187px;
	height:25px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:left;
}

#mem2 form input.txtBox{
	width:187px;
	height:25px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:left;
}
#mem2 form input.chk{
	width:13px;
	height:13px;
	margin:8px 15px 0 0;
	float:left;
}
#mem2 form a{
	font:bold 11px/13px Verdana, Arial, Helvetica, sans-serif;
	color:#9D0303;
	background-color:inherit;
	text-decoration:none;
	float:left;
	margin:8px 0 0 0;
}
#mem2 form a:hover{
	text-decoration:underline;
}
#mem2 input[type="submit"]{
	/*background:url(images/read_more2.gif) 0 0 no-repeat;*/
	width:70px;
	height:20px;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFCC;
	border-bottom:#404040 solid 1px;
	border-right:#404040 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:none;
	cursor:pointer;
    margin:110px 17px 0 10px;
    border-radius: 3px 3px 3px 3px;ox
}
#mem2 form input.login{
	/*background:url(images/read_more2.gif) 0 0 no-repeat;*/
	width:70px;
	height:20px;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFCC;
	border-bottom:#404040 solid 1px;
	border-right:#404040 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:none;
	cursor:pointer;
    margin:110px 17px 0 10px;
}
/******/
#mem{
	width:237px;
	background:url(../images/member_login_bg.gif) 0 0 repeat-x #D2D7B4;
	color:#000;
	padding:0px 0px 39px 7px;
	margin:0px 0px 10px -12px;
	float:left;
	border-radius: 5px;
}
#mem h2{
	display:block;
	height:40px;
	margin:0;
	padding:0;
	
	
}
#mem form{
	width:188px;
	padding:0 25px 0 24px;
}
#mem form label{
	display:block;
	font:normal 11px/22px Verdana, Arial, Helvetica, sans-serif;
	float:left;
}
#mem form input{
	width:187px;
	height:25px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:left;
}

#mem form input.txtBox{
	width:187px;
	height:25px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:left;
}
#mem form input.chk{
	width:13px;
	height:13px;
	margin:8px 15px 0 0;
	float:left;
}
#mem form a{
	font:bold 11px/13px Verdana, Arial, Helvetica, sans-serif;
	color:#9D0303;
	background-color:inherit;
	text-decoration:none;
	float:left;
	margin:8px 0 0 0;
}
#mem form a:hover{
	text-decoration:underline;
}
#mem input[type="submit"]{
	/*background:url(images/read_more2.gif) 0 0 no-repeat;*/
	width:70px;
	height:20px;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFCC;
	border-bottom:#404040 solid 1px;
	border-right:#404040 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:none;
	cursor:pointer;
    margin:110px 17px 0 10px;
    border-radius: 3px 3px 3px 3px;ox
}
#mem form input.login{
	/*background:url(images/read_more2.gif) 0 0 no-repeat;*/
	width:70px;
	height:20px;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFCC;
	border-bottom:#404040 solid 1px;
	border-right:#404040 solid 1px;
	border-left:#404040 solid 1px;
	border-top:#404040 solid 1px;
	float:none;
	cursor:pointer;
    margin:110px 17px 0 10px;
}
#direction{
	width:237px;
	background:url(../images/direction_bg.gif) 0 0 repeat-x #379BC5;
	color:#fff;
	margin:0;
	float:right;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 11px;
	padding-left: 0;
	border-radius: 5px;
}
#direction h2{
	display:block;
	height:42px;
	margin:0 0 4px 0;
	padding:0;
	padding-left: 15px;
}

#direction h3{
	font-size:12px;
	line-height:18px;
	margin:0 0 5px 0;
	display:block;
	padding:0 0 0 21px;
}
#direction img.pic3{
	display:block;
	font-size:0;
	line-height:0;
	float:left;
	padding:0 0 0 14px;
}
#direction ul{
	width:195px;
	float:right;
}
#direction ul li{
	font-size:0;
	line-height:0;
}
#direction ul li a{
	display:block;
	padding:0 0 0 7px;
	background:url(../images/arrow.gif) 0 7px no-repeat;
	font:normal 11px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#direction ul li a:hover{
	background-color:#D4950C;
	color:#fff;
}
#direction ul li a.rm4{
	display:block;
	background:url(../images/read_more2.gif) 0 0 no-repeat;
	width:56px;
	height:17px;
	margin:17px 0 0 0;
}
#direction ul li a.rm4:hover{
	background:url(../images/read_more4_hover.gif) 0 0 no-repeat;
}
/*------------------------------------------------right--------------------*/

/*------------------------------------------------body--------------------*/

/*------------------------------------------------footer--------------------*/
#footer{
	width:979px;
	height:60px;
	background:url(../images/footer_bg.gif) 0 0 no-repeat;
	padding:14px 0 0 0;
	margin:0 auto;
	position:relative;
}
#footer p.copyright{
	font:normal 10px/18px Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:723px;
	top:14px;
	width:253px;
	color:#000;
	background-color:inherit;
}
#footer p.design{
	display:block;
	padding:0;
	position:absolute;
	left:797px;
	top:31px;
	font:bold 10px/18px Verdana, Arial, Helvetica, sans-serif;
	color:#0F6B92;
	background-color:inherit;
}
#footer p.design a.link{
	font:bold 10px/18px Verdana, Arial, Helvetica, sans-serif;
	color:#0F6B92;
	background-color:inherit;
	text-decoration:none;
	padding:2px;
}
#footer p.design a.link:hover{
	color:#fff;
	background-color:#000;
}
#footer a.xhtml{
	display:block;
	background:url(../images/xhtml_bg.gif) 0 0 no-repeat;
	width:91px;
	height:21px;
	position:absolute;
	left:13px;
	top:14px;
	text-indent:-2000px;
}
#footer a.xhtml:hover{
	background:url(../images/xhtml_bg_hover.gif) 0 0 no-repeat;
}
#footer a.css{
	display:block;
	background:url(../images/css_bg.gif) 0 0 no-repeat;
	width:91px;
	height:21px;
	position:absolute;
	left:110px;
	top:14px;
	text-indent:-2000px;
}
#footer a.css:hover{
	background:url(../images/css_bg_hover.gif) 0 0 no-repeat;
}
/*------------------------------------------------footer--------------------*/
/*------------------------------------------------Contact--------------------*/
.contactformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 18px;
	width: 400px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactsubmit {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	background-attachment: scroll;
	background-image: url(../images/read_more_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 76%;
	clip: rect(500px,500px,auto,auto);
	top: 500px;
	right: 500px;
	bottom: 500px;
	left: 500px;
	float: left;
	margin: 5px;
	padding: 5px;
}

.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 400px;
	float: left;
	margin: 3px;
	padding: 3px;
}
.contactbox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.commentslabel {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	float: left;
	height: 170px;
	width: 100px;
	margin: 3px;
}
.contactbg {
	/*background-attachment: fixed;*/
	background-image: url(../images/loginbg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 604px;
	width: 669px;
}



.contactmessagebox {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
}
.submitarea {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	float: left;
	width: 600px;
}
.submitbutton {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	background-attachment: scroll;
	background-image: url(../images/latest_service_bg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #FFFFFF;
	height: 23px;
	width: 70px;
}


.contacttext {
	margin: 3px;
	height: 18px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}
.contactareas {
	float: left;
	height: 540px;
	width: 465px;
	background-image: url(../images/contactbg.gif);
	top: 0px;
}
.contacthead {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 3px;
	height: 25px;
	width: 400px;
	padding-top: 10px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}


.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contactsidehead {
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: #CFC88B;
	margin: 4px;
	height: 20px;
	width: 400px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
}
.contactind {
	font-family: Verdana;
	font-size: 12px;
	color: #FFFFFF;
	margin: 3px;
	height: 20px;
	width: 400px;
	padding-top: 10px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}

/*------------------------------------------------Contact--------------------*/

.linkpopup {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
	height: 18px;
	width: 250px;
}

.linkpopup span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopup:link span,
.linkpopup:visited span {
 visibility: hidden;
}

.linkpopup:hover span,
.linkpopup:focus span,
.linkpopup:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.linkpopupmessagebox {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 170px;
	width: 350px;
}

.linkpopupmessagebox span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupmessagebox:link span,
.linkpopupmessagebox:visited span {
 visibility: hidden;
}

.linkpopupmessagebox:hover span,
.linkpopupmessagebox:focus span,
.linkpopupmessagebox:active span {
 color: #000;
 text-decoration: none;
 visibility: visible;
}


/*------------------------------------------------Email--------------------*/

.linkpopupemail {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 200px;
}

.linkpopupemail span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupemail:link span,
.linkpopupemail:visited span {
 visibility: hidden;
}

.linkpopupemail:hover span,
.linkpopupemail:focus span,
.linkpopupemail:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
/*------------------------------------------------Email--------------------*/
.contactcommenttext {
	margin: 3px;
	height: 170px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}

.bodytextarea {
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	float: left;
	width: 560px;
	margin: 3px;
	padding: 3px;
}
.errortext {
	font-family: Verdana;
	font-size: 11px;
	color: #FF0000;
}

.body1text {

	font-family: Verdana;
	font-size: 16px;
	color: #27817D;
	width: 560px;
	font-weight: bold;
	margin: 3px;
	padding: 3px;
}
.submittextarea {

	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	float: left;
	width: 560px;
	margin: 3px;
	padding: 3px;
}
/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#7A8639;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#FFFFFF;
color:#666600;
margin:0px;
padding:0px;
border:1px solid #666600;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 262px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#FFFFFF;
color:#666600;
margin:0px;
padding:0px;
border:1px solid #666600;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 170px;
	width: 300px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#FFFFFF;
color:#666600;
margin:0px;
padding:0px;
border:1px solid #666600;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Massagebox --------------------*/
#contact p.contactTxt {
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	display:block;
	width:620px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}
.contacttop {

	float: left;
	height: 95px;
	width: 465px;
	top: 0px;
}
.contactbg {
	background-image: url(../images/contactbg.gif);
	float: left;
	height: 500px;
	width: 600px;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position: center top;
}
#left h3.le {

	display:block;
	margin:50px 0 20px 0;
	font-size:0;
	line-height:0;
}
.contactformmsgfield {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 400px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactdropdownmenu {
	margin: 3px;
	float: left;
	height: 20px;
	width: 400px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}

.rightempty {
	height: 10px;
	width: 237px;
	float: left;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 132px;
}
table tr th, table tr td{
	border: 1px  #b9bfb4;
	border-radius: 5px;
	border-style: groove;
	
}